<div id="container">
{{!-- TODO provide options for music & effects  --}}
{{!--     <div id="options"> --}}
{{!--         <div class="option sfx"></div> --}}
{{!--         <div class="option music"></div> --}}
{{!--     </div> --}}

    <div id="cr-stage"></div>
    <div id="editorToolbar">
        {{#each toolbarItems}}{{$toolbarItems this}}{{/each}}
    </div>
</div>